:root {
  --primary-font-family: Roboto, sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* HEADER */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-dark {
  color: #000000;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* MAIN */

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /* color: #FFFFFF; */
}

.modal-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}
